[Bb]in
ClientBin
[Oo]bj
build
*.suo
IQ.IR.MPC.Azure/Service*.cscfg.transformed.cscfg
IQ.IR.MPC.Azure/Service*.csdef.transformed.csdef
*.cscfg.tmp
*.csdef.tmp
ServiceDefinition.build.csdef
Log
_ReSharper.*
*.user
*.sln.cache
*.swp
*.vssscc
*.vspscc
*.build.*
*.orig
*~
.idea/
release/
