@import "common.less";

/* Search Boxes */
#origin-div, #destination-div { width: 50%; }
#origin-div { float: left; }
#destination-div { float: right; }
#origin-div > div, #destination-div > div { font-size: @font-size-big; }
#origin-div input, #destination-div input { width: 90%; margin: 15px 0px; height: 30px; padding: 2px 5px; }

#header { position: absolute; }