/* line 17, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 51, icons */
.icons-sprite, .icons-food, .icons-gas, .icons-hotels, .icons-other, .icons-shadow {
  background: url('/images/icons-sf59cb32175.png') no-repeat;
}

/* line 60, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-food {
  background-position: 0 0;
}

/* line 60, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-gas {
  background-position: 0 -64px;
}

/* line 60, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-hotels {
  background-position: 0 -128px;
}

/* line 60, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-other {
  background-position: 0 -192px;
}

/* line 60, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-shadow {
  background-position: 0 -256px;
}

/* line 45, icons-small */
.icons-small-sprite, .icons-small-food, .icons-small-gas, .icons-small-hotels, .icons-small-other {
  background: url('/images/icons-small-s7df6d54cc8.png') no-repeat;
}

/* line 60, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-small-food {
  background-position: 0 0;
}

/* line 60, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-small-gas {
  background-position: 0 -32px;
}

/* line 60, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-small-hotels {
  background-position: 0 -64px;
}

/* line 60, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-small-other {
  background-position: 0 -96px;
}

/* line 37, ../sass/_base.scss */
html, body {
  font-family: "Trebuchet MS";
  font-size: 1em;
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 45, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 3, ../sass/index.scss */
.header {
  background-color: #58585a;
  height: 40px;
  line-height: 40px;
}
/* line 8, ../sass/index.scss */
.header li {
  display: inline;
}
/* line 11, ../sass/index.scss */
.header li a {
  padding: 9px 10px;
  color: white;
}
/* line 15, ../sass/index.scss */
.header li a:hover {
  background-color: #78787a;
}

/* line 20, ../sass/index.scss */
.sidebar {
  width: 350px;
  position: absolute;
  text-align: left;
  overflow: auto;
  top: 40px;
  left: -1px;
  bottom: 0px;
  border-right: 1px solid #58585a;
}
/* line 30, ../sass/index.scss */
.sidebar .logo {
  text-align: center;
}
/* line 31, ../sass/index.scss */
.sidebar .logo img {
  margin: 15px 0px;
}
/* line 34, ../sass/index.scss */
.sidebar > #side-content {
  padding: 15px;
}
/* line 37, ../sass/index.scss */
.sidebar > #side-content #parameters {
  *zoom: 1;
  width: 100%;
}
/* line 38, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.sidebar > #side-content #parameters:after {
  content: "";
  display: table;
  clear: both;
}
/* line 41, ../sass/index.scss */
.sidebar > #side-content #parameters .option-row, .sidebar > #side-content #parameters .input-row {
  *zoom: 1;
  margin-bottom: 5px;
  position: relative;
  height: 30px;
  line-height: 30px;
}
/* line 38, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.sidebar > #side-content #parameters .option-row:after, .sidebar > #side-content #parameters .input-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 48, ../sass/index.scss */
.sidebar > #side-content #parameters .option-row > div, .sidebar > #side-content #parameters .input-row > div {
  position: absolute;
}
/* line 49, ../sass/index.scss */
.sidebar > #side-content #parameters .option-row .option-key, .sidebar > #side-content #parameters .input-row .option-key {
  width: 15px;
  left: 0px;
  cursor: move;
}
/* line 54, ../sass/index.scss */
.sidebar > #side-content #parameters .option-row .option-value, .sidebar > #side-content #parameters .input-row .option-value {
  left: 15px;
  right: 25px;
}
/* line 58, ../sass/index.scss */
.sidebar > #side-content #parameters .option-row .option-value input, .sidebar > #side-content #parameters .input-row .option-value input {
  width: 100%;
}
/* line 59, ../sass/index.scss */
.sidebar > #side-content #parameters .option-row .option-value span, .sidebar > #side-content #parameters .input-row .option-value span {
  cursor: pointer;
  color: blue;
  font-size: 75%;
}
/* line 64, ../sass/index.scss */
.sidebar > #side-content #parameters .option-row .option-value span:hover, .sidebar > #side-content #parameters .input-row .option-value span:hover {
  text-decoration: underline;
}
/* line 65, ../sass/index.scss */
.sidebar > #side-content #parameters .option-row .option-value span#add-destination, .sidebar > #side-content #parameters .input-row .option-value span#add-destination {
  float: left;
}
/* line 66, ../sass/index.scss */
.sidebar > #side-content #parameters .option-row .option-value span#more-options, .sidebar > #side-content #parameters .input-row .option-value span#more-options {
  float: right;
}
/* line 69, ../sass/index.scss */
.sidebar > #side-content #parameters .option-row .option-remove, .sidebar > #side-content #parameters .input-row .option-remove {
  width: 15px;
  top: 8px;
  right: 0px;
  vertical-align: middle;
}
/* line 74, ../sass/index.scss */
.sidebar > #side-content #parameters .option-row .option-remove span, .sidebar > #side-content #parameters .input-row .option-remove span {
  cursor: pointer;
}
/* line 79, ../sass/index.scss */
.sidebar > #side-content #form-submit {
  margin-top: 15px;
  float: right;
}

/* line 84, ../sass/index.scss */
.ie7 .sidebar > #side-content #parameters .option-row > div, .ie7 .sidebar > #side-content #parameters .input-row > div {
  display: inline;
}
/* line 85, ../sass/index.scss */
.ie7 .sidebar > #side-content #parameters .option-row .option-value, .ie7 .sidebar > #side-content #parameters .input-row .option-value {
  top: 4px;
}
/* line 86, ../sass/index.scss */
.ie7 .sidebar > #side-content #parameters .option-row .option-remove, .ie7 .sidebar > #side-content #parameters .input-row .option-remove {
  padding-left: 7px;
}

/* line 90, ../sass/index.scss */
#map_canvas {
  position: absolute;
  top: 40px;
  left: 350px;
  bottom: 0px;
  right: 0px;
}

/* line 98, ../sass/index.scss */
.overlay {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  display: none;
  background: white;
  left: 600px;
  top: 350px;
  padding: 15px;
  position: absolute;
}
/* line 108, ../sass/index.scss */
.overlay .overlay-logo {
  float: left;
  margin-right: 10px;
}
/* line 111, ../sass/index.scss */
.overlay .overlay-logo img {
  max-width: 100px;
  max-height: 100px;
}
/* line 114, ../sass/index.scss */
.overlay .overlay-details {
  float: right;
}
/* line 117, ../sass/index.scss */
.overlay .overlay-details .name {
  font-size: 130%;
  margin-bottom: 5px;
}
/* line 118, ../sass/index.scss */
.overlay .overlay-details .dispnum {
  font-style: italics;
  margin-bottom: 10px;
}
/* line 120, ../sass/index.scss */
.overlay .overlay-details .address {
  color: #58585a;
}
/* line 123, ../sass/index.scss */
.overlay .overlay-details .address .city {
  display: inline;
}
/* line 124, ../sass/index.scss */
.overlay .overlay-details .address .prov {
  display: inline;
}

/* line 129, ../sass/index.scss */
#first-run-dialog {
  display: none;
  text-align: center;
}
/* line 133, ../sass/index.scss */
#first-run-dialog .content {
  margin-top: 35px;
}
/* line 136, ../sass/index.scss */
#first-run-dialog .content > div {
  width: 45%;
}
/* line 139, ../sass/index.scss */
#first-run-dialog .content > div input {
  width: 90%;
  margin: 15px 0px;
  padding: 2px 5px;
  height: 30px;
}
/* line 147, ../sass/index.scss */
#first-run-dialog .content .left-div {
  float: left;
}
/* line 148, ../sass/index.scss */
#first-run-dialog .content .right-div {
  float: right;
}
/* line 149, ../sass/index.scss */
#first-run-dialog .content button {
  margin-top: 30px;
}
/* line 152, ../sass/index.scss */
#first-run-dialog #form-submit {
  text-align: center;
  clear: both;
}

/* line 155, ../sass/index.scss */
#detail-dialog {
  -moz-box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.8);
  -webkit-box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.8);
  -o-box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.8);
  box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.8);
  display: none;
  position: absolute;
  background: #FFF;
  border: #000;
}

/* line 163, ../sass/index.scss */
#advanced-div {
  overflow: hidden;
  *zoom: 1;
  font-size: 80%;
}
/* line 167, ../sass/index.scss */
#advanced-div #advanced-show {
  cursor: pointer;
}
/* line 170, ../sass/index.scss */
#advanced-div #advanced-show * {
  float: left;
}
/* line 173, ../sass/index.scss */
#advanced-div #advanced-content {
  text-align: left;
}
/* line 176, ../sass/index.scss */
#advanced-div #advanced-content .option-row {
  margin-bottom: 5px;
}
/* line 177, ../sass/index.scss */
#advanced-div #advanced-content .option-checkbox {
  margin-right: 10px;
}
/* line 178, ../sass/index.scss */
#advanced-div #advanced-content .instruction-text {
  width: 200px;
}
/* line 179, ../sass/index.scss */
#advanced-div #advanced-content input[type='text'] {
  width: 75px;
}

/* line 183, ../sass/index.scss */
.yellowapi {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
