@import "common.less";

.logo { float: left; }

#sidebar { width: 20%; height: 100%; position: relative; right: 2px; }
#side-content { padding: 10px; height: 100%; overflow: auto; }
#map_canvas { height: 100%; width: 80%; }
#parameters { width: 100%; }
#parameters input { width: 230px; padding: 2px 5px; }

.label-text, .instruction-text { width: 50px; }
.option-row { margin-bottom: 5px; }

/* Popup */
#detail-dialog { 
    display: none;
    position: absolute; 
    background: #FFF; 
    border: #000; 

    -moz-box-shadow: 4px 3px 4px #000;
    -webkit-box-shadow: 4px 3px 4px #000;
    box-shadow: 4px 3px 4px #000;
}

.detail-left {
    
}