@import "compass/reset";
@import "compass/layout";
@import "compass/utilities";
@import "compass/css3";

@import "icons/*.png";
@include all-icons-sprites;
@import "icons-small/*.png";
@include all-icons-small-sprites;

$font-family-default: 'Trebuchet MS';
$font-size-default: 1em;
$font-size-small: 80%;
$font-size-big: 130%;
$font-size-bigger: 175%;
$font-size-input: 110%;

$header-height: 40px;
$header-bgcolor: #58585A;
$header-color: #78787A;

$sidebar-width: 350px;

$overlay-color: #FFFFFF;
$overlay-border-color: black;
$overlay-image-width: 100px;
$overlay-image-height: 100px;
$overlay-address-color: #58585A;

$option-key-width: 32px;
$option-value-width: 263px;
$option-remove-width: 15px;

@mixin clickable {
	cursor: pointer;
}

html, body {
	font-family: $font-family-default;
	font-size: $font-size-default;
	position: relative;
	height: 100%;
	width: 100%;
}

.clear {
	clear: both;
}