@import "_base";

.header {
	background-color: $header-bgcolor;
	height: $header-height;
	line-height: $header-height;

	li {
		display: inline;
		
		a {
			padding: 9px 10px;
			color: white;

			&:hover { background-color: $header-color; }
		}
	}
}

.sidebar {
	width: $sidebar-width;
	position: absolute;
	text-align: left;
	overflow: auto;
	top: $header-height;
	left: -1px;
	bottom: 0px;
	border-right: 1px solid $header-bgcolor;

	.logo { text-align: center;
		img { margin: 15px 0px; }
	}

	> #side-content {
		padding: 15px;
		
		#parameters {
			@include pie-clearfix;
			width: 100%;

			.option-row, .input-row {
				@include pie-clearfix;
				margin-bottom: 5px;
				position: relative;
				height: 30px;
				line-height: 30px;

				>div { position: absolute; }
				.option-key {
					width: $option-key-width;
					left: 0px;
					cursor: move;
				}
				.option-value {
					left: $option-key-width;
					right: $option-remove-width + 10px;

					input { width: 100%; }
					span {
						@include clickable;
						color: blue;
						font-size: 75%;
						
						&:hover { text-decoration: underline; }
						&#add-destination { float: left; }
						&#more-options { float: right; }
					}
				}
				.option-remove {
					width: $option-remove-width;
					top: 8px;
					right: 0px;
					vertical-align: middle;
					span { @include clickable; }
				}
			}
		}

		#form-submit { margin-top: 15px; float: right; }
	}
}
.ie7 .sidebar > #side-content #parameters {
	.option-row, .input-row {
		> div { display: inline; }
		.option-value { top: 4px; }
		.option-remove { padding-left: 7px; }
	}
}

#map_canvas {
	position: absolute;
	top: $header-height;
	left: $sidebar-width;
	bottom: 0px;
	right: 0px;
}

.overlay {
	@include border-radius(10px);
	@include box-shadow(rgba(black, 0.75), 5px, 5px, 10px);
	background: $overlay-color;
	left: 600px;
	top: 350px;
	padding: 15px;
	position: absolute;

	.overlay-logo {
		float: left;
		margin-right: 10px;
		img { max-width: $overlay-image-width; max-height: $overlay-image-height; }
	}

	.overlay-details {
		float: right;

		.name { font-size: $font-size-big; margin-bottom: 5px; }
		.dispnum { font-style: italics; margin-bottom: 10px; }

		.address {
			color: $overlay-address-color;

			.city { display: inline; }
			.prov { display: inline; }
		}
	}
}

#first-run-dialog {
	display: none;
	text-align: center;
	
	.content {
		margin-top: 35px;

		> div { 
			width: 45%;

			input {
				width: 90%;
				margin: 15px 0px;
				padding: 2px 5px;
				height: 30px;
			}
		}

		.left-div { float: left; }
		.right-div { float: right; }
		button { margin-top: 30px; }
	}
	
	#form-submit { text-align: center; clear: both; }
}

#detail-dialog {
	@include single-box-shadow(rgba(100, 100, 100, .8), 3px, 3px);
	display: none;
    position: absolute;
    background: #FFF; 
    border: #000; 
}

#advanced-div {
	@include clearfix;
	font-size: $font-size-small;

	#advanced-show { 
		@include clickable;

		* { float: left; }
	}

	#advanced-content {
		text-align: left;

		.option-row { margin-bottom: 5px; }
		.option-checkbox { margin-right: 10px; }
		.instruction-text { width: 200px; }
		input[type='text'] { width: 75px; }
	}
}

.yellowapi {
	position: absolute;
	left: 10px;
	bottom: 10px;
}